<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <link rel="stylesheet" href="..\static\css\signup.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="#">Project EC</a>
      </div>
    </nav>
      <div class="login">
      <h1 class="text-center">Sign up</h1>


      <form method="POST" action="">
        {% csrf_token %}
          <div class = "newspacer">
          <label class="form-label" for="user">Username</label>
          {{form.username}}
          {{form.username.errors}}

          <div class = "newspacer">
          <label class="form-label" for="email">Email address</label>
          {{form.email}}
      
      

<!-- eleat in ke toy do ta class joda neveshte shodan baray ine ke zir ham bashan -->
      <div class = "newspacer">
      <label class="form-label" for="password" >Password</label>
      </div>
      <i class="far fa-eye" id="togglePassword"></i>
      {{form.password1}}
      

      <div class = "newspacer">
      <label class="form-label" for="password" >Confirm Password</label>
      <i class="far fa-eye" id="togglePassword"></i>
      {{form.password2}}


      

    </div> 
    
    <input type="submit" name="Create User" class="btn btn-dark" id="new">
    
  </form>
    </div>
    



        </div>
  </body>
</html>