*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4)  !important;
}


.login{
    width: 360px;
    height:65vh ;
    padding: 20px;
    border-radius: 12px;
    background-color : rgba(0, 0, 0, 0.541)  ;
    color: #FCF6F5FF;
    text-align: center;
}
.login h1{
    font-size: 36px;
    margin-bottom:25px ;
     
}

.login form {
    font-size: 20px;

}


nav{
    position:absolute;
    top : 0%;
    background: #1b1b1b;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
    height: 8vh;

}
.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    padding: 20px;
    padding-top: 20px;
  }

#new{
    position: relative;
    top: 250px;
    

    padding: 10px;
    margin-top: 15px;
}

.newspacer{
    padding-top: 20px;
}